@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply font-spacemono;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.ContentSection {
  @apply max-w-screen-sm mx-auto;
  @apply py-8;
  @apply px-6;
}

@screen sm {
  .ContentSection {
    @apply max-w-screen-md;
    @apply py-16;
    @apply px-0;
  }
}

@screen md {
  .ContentSection {
    @apply max-w-screen-lg mx-auto;
    @apply py-32;
    @apply w-2/3;
  }
}

h1, h2, h3, h4 {
  @apply font-bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

.heading-with-leftborder {
  @apply relative;
}

.heading-with-leftborder::before {
  @apply absolute bg-primary-500 rounded-r-md h-full top-0 left-0;
  content: '';
  width: 8px;
}

.WelcomeText {
  color: rgba(14, 16, 27, 0.6);
}

.HeroWithPartnerLogos {
  background-color: #DBDEEC;
}

.PartnerLogos {
  background-color: #C9CEE4;
}

.EverythingToKnow {
  background-color: rgba(255, 184, 0, 0.6);
}

.Versus {
  margin: 0 130px;
  color: rgba(14, 16, 27, 0.4);
}

.Longform {
  padding-top: 0;
  padding-bottom: 0;
}

.Longform h2 {
  @apply text-xl font-bold mt-12 pt-8 mb-4;
}

.Longform h3 {
  @apply text-base text-gray-700 font-medium mt-6 mb-2;
}

.Longform p {
  @apply mb-4;
  @apply text-base;
}

.Testimonials {
  color: #5C5F6D;
}

.Testimonials blockquote {
  position: relative;
  padding-left: 20px;
  max-width: 560px;
}

.Testimonials blockquote:before {
  display: block;
  content: '"';
  font-size: 40px;
  position: absolute;
  top: -10px;
  left: -10px;
  color: #7a7a7a;
}

.SupportedBy {
  background-color: #F1F1F1;
}

.SupportedBy-desc {
  color: rgba(0, 0, 0, 0.4);
}
