@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.SK {
  @apply p-8 max-w-screen-sm mx-auto;
}

@screen md {
  .SK {
    @apply p-8 max-w-screen-md mx-auto;
  }
}
@screen lg {
  .SK {
    @apply p-16 max-w-screen-xl mx-auto;
  }
}

.LP {
}

.LP h2 {
  @apply text-3xl font-bold mt-12 pt-8 mb-4;
}

.LP h3 {
  @apply text-2xl text-gray-700 font-medium mt-6 mb-2;
}

.LP p {
  @apply mb-4;
}

.logos-bg {
  background-color: rgba(219, 233, 236, 20%);
}

.highlights-bg {
  background-color: #dbe9ec;
}

.C-pwidth {
  max-width: 720px;
}
